@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}
.font-arvo{
  font-family: "Arvo", serif;
  font-style: normal;
}

.font-open_sans{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

body {
  @apply bg-primary text-gray-900;
}
